* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  width: 300px;
  max-width: 300px;
  margin: 50px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.container .box-content .sildes {
  padding: 20px;
  background-color: #dfdee9;
}

.container .box-content .sildes .img {
  display: flex;
  justify-content: center;
  align-content: center;
}
.container .box-content .sildes .img img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.container .box-content .sildes .img + p {
  color: #423c44;
  text-transform:capitalize ;
}
.container .box-content .sildes .img + p + strong{
  color: #080e52;
  text-transform:uppercase ;
}
.container .box-content .sildes .img + p + strong + p {
  font-size: 12px;
  color: #080e52;
  height: 100px;
}

.container .box-content .sildes .img + p + strong + p + div button {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s linear;
  border: 1px solid transparent;
}
.container .box-content .sildes .img + p + strong + p + div button:hover {
  box-shadow: 0px 13px 9px -6px #898989;
  
}
button.not_click {
  background: none !important;
  cursor: not-allowed !important;
}
